body{
    text-align: center;
    color: antiquewhite;
    background-image: url(https://cdn.dribbble.com/users/251177/screenshots/3178715/dribbble.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: monospace;
    font-size: 20px;
}

h1{
    
    color: antiquewhite;
}
/* 
.row{
    display: none;
    
} */

